@charset "UTF-8";

* {padding: 0; margin: 0;}
#wrap{width: 100%; margin: 98px 0 0 0;}
#wrap>div:nth-child(1){width: 1250px;}
.cont{width: 1000px;margin:0 auto;}
.list_table{ width: 1000px; border-top: 2px solid black; box-sizing: border-box; border-collapse: collapse;}
.list_table th{background: #f8f8f8; height: 30px; padding: 8px 0 3px 0; font-size: 13px; font-weight: bold;}
.list_table td{border-bottom: 2px solid black; padding: 8px 0; text-align: center;}
