@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

em {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

section {
	width: 1180px;
	min-height: 900px;
	margin: 0 auto;
}

section>div {
	width: 100%;
	padding: 72px 0 140px;
}

section>div>div>h1 {
	color: #101010;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
}

section>div>div>div {
	margin-top: 46px;
}

section>div>div:nth-child(1)>div>div:nth-child(1) {
	position: relative;
	padding: 32px 24px;
	background-color: #f7f7f7;
	border-top: 2px solid #202020;
	background-color: #f7f7f7;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>h2 {
	font-size: 28px;
	line-height: 42px;
	font-weight: 700;
	color: #101010;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>h2>span {
	display: block;
	padding-top: 6px;
	font-size: 16px;
	line-height: 24px;
	color: #606060;
	font-weight: 400px;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>div {
	position: absolute;
	top: 42px;
	right: 24px;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>div>a {
	position: relative;
	width: auto;
	height: auto;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>div>a>span {
	display: block;
	position: block;
	padding-left: 28px;
	color: #606060;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
}

section>div>div:nth-child(1)>div>div:nth-child(1)>div>a>span::before {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 30px;
	height: 30px;
	background: url('../images/event_set.png') no-repeat;
	background-size: 800px 800px;
	background-position: -454px -80px;
}

section>div>div:nth-child(1)>div>div:nth-child(2) {
	width: 1180px;
	vertical-align: middle;
}

section>div>div:nth-child(1)>div>ul:nth-child(3) {
	width: 100%;
	margin-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	font-size: 0;
	text-align: center;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	width: 362px;
	height: 262px;
	padding: 0 90px 0 40px;
	box-sizing: border-box;
	background: url('../images/img_coupon.png') no-repeat;
	vertical-align: top;
	text-align: left;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li::before {
	content: '';
	display: block;
	overflow: hidden;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>p {
	margin-top: 25px;
	font-size: 22px;
	line-height: 52px;
	color: #8d4d2e;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>p:nth-child(1)>em {
	font-size: 52px;
	font-weight: bold;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>p:nth-child(2) {
	width: 225px;
	margin-top: 1px;
	font-size: 23px;
	line-height: 27px;
	letter-spacing: -0.72px;
	color: #522800;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>p:nth-child(3) {
	margin-top: 8px;
	width: 225px;
	line-height: 20px;
	font-size: 16px;
	color: #522800;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>a:nth-child(4) {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 362px;
	height: 53px; 
	border: 1px solid #8d4d2e;
	background: #fff;
}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>a:nth-child(4)::before{
	content:'';
	position: absolute;
	top: 50%;
	left: 58%;
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/icon-down.png') 0 0 no-repeat;
	transform: translate(-50%, -50%);
	}

section>div>div:nth-child(1)>div>ul:nth-child(3)>li>a:nth-child(4)>span {
	display: block;
	line-height: 51px;
	padding-right: 35px;
	font-size: 16px;
	text-align: center;
	color: #8d4d2e;
	overflow: hidden;
}

section>div>div:nth-child(1)>div>div:nth-child(4) {
	height: 100px;
	margin-top: 30px;
	text-align: center;
}

section>div>div:nth-child(1)>div>div:nth-child(4)>a:nth-child(1) {
	width: 240px;
	height: 56px;
	margin-right: 10px;
	font-size: 16px;
	line-height: 54px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	color: #101010;
	border: 1px solid #BDD61A;
	background-color: #BDD61A;
}

section>div>div:nth-child(1)>div>div:nth-child(4)>a:nth-child(2) {
	width: 240px;
	height: 56px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 54px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	color: #101010;
	border: 1px solid #BDD61A;
	background-color: #BDD61A;
}