* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	list-style: none;
}

em {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
	display: block;
}

img{
	border: 0 none;
}
section>div {
	width: 1180px;
	min-height: 100%;
	margin: 0 auto;
	padding: 72px 0 65px;
}

section>div>div {
	word-break: break-all;
	letter-spacing: -0.5px;
}

section>div>div>h1 {
	padding-bottom: 36px;
	border-bottom: 4px solid #202020;
	color: #101010;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	color: #101010;
}

section>div>div>div:nth-child(2) {
	margin-top: 40px;
	width: 100%;
}

section>div>div>div:nth-child(2)>ul {
	position: relative;
	width: 100%;
	font-size: 0;
}

section>div>div>div:nth-child(2)>ul>li {
	display: inline-block;
	width: initial;
	text-align: center;
	vertical-align: top;
	
}

section>div>div>div:nth-child(2)>ul>li>a {
	padding-left: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 12px;
	white-space: nowrap;
}

section>div>div>div:nth-child(2)>ul>li:nth-child(1)>a>span {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 41px;
	color: #606060;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	vertical-align: top;
}

section>div>div>div:nth-child(2)>ul>li:nth-child(2)>a>span {
	border-bottom: 3px solid #202020;
	color: #101010;
	font-weight: 700;
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 41px;
	font-size: 24px;
	line-height: 34px;
	vertical-align: top;
}

section>div>div>div:nth-child(2)>ul>li:nth-child(3)>a>span {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 41px;
	color: #606060;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	vertical-align: top;
}






#art_table>table{
    width:1180px;   height: 1100px;   border-collapse: collapse;
    margin: 0 auto;
    border-top: 2px solid black;
}
#art_table table tr:first-child{
	line-height: 20px;
}

tr>td:nth-child(1){
    text-align: center;
}
tr>td:nth-child(3){
    text-align: center;
}
th{
	padding: 0 24px;
    font-size: 15px;
    background: #efefef;
    font-weight: 700;
}
td{
    border-bottom: 1px solid #606060;
}
#pagination{
    width:1180px ; height:96px; margin: 0 auto;
}
#pagination>div{
     width: 1180px; height: 30px;
    box-sizing: border-box;
}
#pagination>div:nth-child(1)>button{
	margin-top: 5px;
	float: right;
	width: 100px;
	height: 50px;
	font-size: 16px;
	background: #BDD61A;
	font-weight: 700;
	border: 1px solid #BDD61A;
}
#pagination>div:nth-child(2){
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
}
#pagination>div:nth-child(2)>span{
    margin: 20px;
}







