#contentArea {
    /*border: 1px solid orange;*/
    display: inline-block;
    overflow: hidden;
    min-height: 800px;
    margin-left: 250px;
    margin-top: 32px;
    margin-right: 50px;
    padding-bottom: 80px;
    width: 1250px !important;
}

.sub_title_bar {

}

.ptit {
    width: 100%;
    overflow: hidden;
    margin-bottom: 33px;
    border-bottom: 1px #e6e6e6 solid;
}

.ptit li {
    width: 100%;
    line-height: 25px;
    height: 25px;
    float: left;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: "돋움", verdana, serif !important;
}

.float_r {
    float: right;
}

.ptit li .listed {
    background: #7b7b7b url('../images/notice_header/lmsmanual_01.png') 3px no-repeat;
    line-height: 20px;
    height: 22px;
    width: 22px;
    border: 1px #4b4b4b solid;
    margin-left: 2px;
}

.ptit li .favorite {
    background: #7b7b7b url('../images/notice_header/tit_favorite.png') 3px no-repeat;
    line-height: 20px;
    height: 22px;
    width: 22px;
    border: 1px #4b4b4b solid;
    margin-left: 2px;
}

.sub_content_area{
    /*margin-bottom: 100px;*/
    height: fit-content;
    text-align: center;
}

#notice_content{
    /*border: 1px solid brown;*/
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

#notice_content .table_content{
    width: 100%;
    table-layout: fixed;
    border-top: 2px solid #5b5b5b;
    border-bottom: 2px solid #5b5b5b;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#notice_content .table_content .dotted{
    margin-right: 5px !important;
    vertical-align: middle;
}

#notice_content .table_content th{
    background: #ebebeb;
    text-align: left;
    padding: 6px 0 8px 10px;
    font-size: 13px;
    border-bottom: 1px #c9c9c9 solid;
    font-weight: bold;
    width: 130px;
}
#notice_content .table_content td{
    text-align: left;
    padding: 6px 0 8px 10px;
    font-size: 13px;
    border-bottom: 1px #ebebeb solid;

}

.border_btn{
    overflow: hidden;
    margin-top: 10px;
}

.btnIcon{
    background-color: #7e7e7e;
    min-width: 20px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-family: Nanum Gothic, '돋움', serif;
    font-size: 13px;
    border: none;
    cursor: pointer;
    padding: 0 15px 0 15px;
    color: #fff;
    font-weight: bold;
}